---
layout: archive-home
---

{{ content }}

<!-- Ensure the posts are supplied in list format -->
{% assign entries_layout = page.entries_layout | default: 'list' %}

<!-- Fetch all of the posts with paginator or site posts -->
{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}


<!-- Comment out temporarily
<h3 class="archive__home__subtitle" >Welcome.</h3>
<p class="archive__item-excerpt" style="text-align: justify; text-justify: inter-word;">
  Hello! My name is Lawrence, by trade I am a graphics programmer. However, my interests focus on
  low level programming in general, especially for retro platforms.<br>
  
  On this blog I will be publishing write ups about a topic I am looking into, or tutorials aimed
  for beginner programmers. I also include updates on my long running projects. 
  <i>(which often die because I keep starting new ones)</i> 
</p>
-->

<!-- List all of the posts in the "Topics" folder -->
<!-- Comment out temporarily
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% if post.is_global_topic %}
      {% include archive-single-home.html type=entries_layout %}
    {% endif %}
  {% endfor %}
</div>
-->

<!-- List all of the posts which aren't a topic -->
<h3 class="archive__home__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% if post.is_global_topic != true %}
      {% include archive-single-home.html type=entries_layout %}
    {% endif %}
  {% endfor %}
</div>

{% include paginator.html %}
