---
layout: archive-home
---

{{ content }}

<!-- Ensure the posts are supplied in list format -->
{% assign entries_layout = page.entries_layout | default: 'list' %}

<!-- Fetch all of the posts with paginator or site posts -->
{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

<!-- List all of the posts in the "Topics" folder -->
<h3 class="archive__home__subtitle" >Topics</h3>
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% if post.is_global_topic %}
      {% include archive-single.html type=entries_layout %}
    {% endif %}
  {% endfor %}
</div>

<!-- List all of the posts which aren't a topic -->
<h3 class="archive__home__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% if post.is_global_topic != true %}
      {% include archive-single.html type=entries_layout %}
    {% endif %}
  {% endfor %}
</div>

{% include paginator.html %}
